.action-menu-container {
    display: flex;
    align-items: center;
    background-color: rgb(95, 95, 95);
    width: 90%;
    height: 120px;
}


.action-task {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 80%;
    align-items: left;
    margin: 20px;
}

p {
    margin: 0;
    padding: 0;
}

.task-picture {
    height: 80%;
    z-index: 1;
    margin: 20px;
}

