.items-menu-container {
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    z-index: 2;
    gap: 20px;
}

.item-picture {
    width: 60px;
    margin: 0;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: none;
}

.item-picture:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    z-index: 10;
}