body {
    font-family: 'Courier New', Courier, monospace;
}

.black-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.screen-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    max-width: 800px;
    opacity: 0;
    transition: opacity 1s ease-in-out, filter 1s ease-in-out, brightness 1s ease-in-out;
}

.screen-container.fade-in {
    opacity: 1;
}

.screen-container.blurred-darkened {
    filter: blur(4px) brightness(0.4);
}

.frame {
    width: 800px;
    height: 480px;
    background-size: cover;
    border-radius: 12px;
    margin: 5px 0;
}

.app-container {
    width: 100%;
    height: 100%;
    position: relative;
}
